@import "tailwindcss";

:root {
  --background: #050509;
  --foreground: #f5f5f5;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #050509;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
